<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/signup.css">
    <style>
        body {
            overflow-x: hidden;
        }

        .role {
            left: 30px;
        }
    </style>
    <title>Student Registration</title>
</head>

<body class="img js-fullheight" style="background-image: url(images/mac.png);">
<nav th:replace="~{user/master :: nav}"></nav>

<section class="ftco-section">

    <div class="container mx-auto" id="cardContainer">
        <div class="profile col-md-6 mx-auto">
            <div class="card mb-3 content">
                <div class="profile-header">
                    <div class="header-content">
                        <h4 style="color: black">Student Registration</h4>
                        <p style="color:red"th:text="${message}"></p>
                    </div>
                </div>
                <form action="/st_registration" method="post" enctype="multipart/form-data">
                    <div class="card-body" id="body-part" style="width: 100%">
                        <div class="row" style="margin-top: 20px; font-size: 17px">
                        
                            <div class="col" style="text-align: right; padding-right: 40px; width: 50%">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Student-name</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Enter your Student-name.">
                            </div>
                        </div>
                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: right; padding-right: 40px">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Birthday</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <input type="date" class="form-control" id="dob" name="dob">
                            </div>
                        </div>
                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: right; padding-right: 40px">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Gender</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <fieldset>
                                    <input class="form-check-input" type="radio" name="gender" id="gridRadios1"
                                           value="Male" checked>
                                    <label class="form-check-label" for="gridRadios1">Male</label>
                                    <input class="form-check-input" type="radio" name="gender" id="gridRadios2"
                                           value="Female">
                                    <label class="form-check-label" for="gridRadios2">Female</label>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: right; padding-right: 40px">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Phone</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <input type="text" class="form-control" id="phone" name="phone"
                                       placeholder="Enter Your Phone No.">
                            </div>
                        </div>
                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: right; padding-right: 40px">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Education</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <select class="form-select" aria-label="Education" id="education"
                                        name="education">
                                    <option selected value="Bachelor of Information Technology">Bachelor of Information Technology</option>
                                    <option value="Diploma in IT">Diploma in IT</option>
                                    <option value="Bachelor of Computer Science">Bachelor of Computer Science</option>
                                </select>
                            </div>
                        </div>
                        
                         <div class="row" style="font-size: 17px">
						    <div class="col" style="text-align: right; padding-right: 40px">
						        <p style="margin: 10px; font-weight: bold" class="left-title">Attend</p>
						    </div>
						    <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
						        <th:block th:each="course: ${courses}">
						            <input type="checkbox" name="course_id" th:value="${course.id}">
						            <label th:text="${course.course_name}"></label>
						        </th:block>
						    </div>
						</div>

                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: right; padding-right: 40px">
                                <p style="margin: 10px; font-weight: bold" class="left-title">Student Photo</p>
                            </div>
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <input type="file" class="form-control" id="st_photo"
                                       name="st_photo" accept="image/*" required>
                            </div>
                        </div>
                        <!-- Add comments here explaining the input field requirement -->
                        <div class="row" style="font-size: 17px">
                            <div class="col" style="text-align: left; padding-left: 40px; width: 50%">
                                <input type="hidden" class="form-control" id="user_id" name="user_id" th:value="${id}">
                                 <input type="hidden" class="form-control" id="status" name="status" th:value="1">
                            </div>
                        </div>
                        <div class="card-footer center">
                            <button type="button" class="card-btn" onclick="goBack()">Cancel</button>
                            <button type="submit" class="card-btn">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
